# ü•á DAY 1 ‚Äî Basic Pandas (Foundation)

# Dataset: Customer Purchase

In [2]:
# 1Ô∏è‚É£ Load the dataset

import pandas as pd

df = pd.read_csv("../New folder/Project_Assignment/Cust_Purch_FakeData.csv")
df1 = pd.read_csv('../numpy_practice/jupyter/pandas_practice/Movies_dataset.csv')
df2 = pd.read_csv('../numpy_practice/jupyter/pandas_practice/Students Social Media Addiction.csv')

In [6]:
# 2Ô∏è‚É£ Show first 5 and last 5 rows

df

,prefix,first,last,email,gender,age,company,profession,phone,postal,province,cc_no,cc_exp,cc_type,price(CAD),fav_color,ip,weekday,ampm,date
0,Dr.,Ray,Morton,sebvajom@kol.km,Male,38,Medtronic Inc.,Health Therapist,(987) 619-2695,B6V 3W3,MB,5020000000000230,05/2018,Solo,8.36,Blue,126.23.139.2,Sunday,pm,04/05/1930
1,Miss,Claudia,Rodriquez,acu@jatsot.ug,Female,51,"Ames Department Stores, Inc.",Health Therapist,(356) 736-7352,G7M 5F3,SK,5020000000000230,07/2028,Visa,68.31,Black,106.198.76.211,Tuesday,am,12/20/1926
2,Miss,Harry,Meyer,zuz@lo.wf,Female,51,CSX Corp.,Political Scientist,(539) 246-1806,A0Z 6P9,NS,6300000000000000,02/2023,Switch,34.65,Black,186.150.187.29,Wednesday,pm,08/20/1931
3,Miss,Edith,Gilbert,hansohsi@jupec.md,Female,55,Murphy Oil Corporation,Transportation Manager,(984) 962-7494,P9I 9H3,YT,3530000000000000,02/2028,Maestro,64.59,White,80.140.57.161,Saturday,am,06/18/2001
4,Dr.,Lura,Murphy,webediti@je.st,Female,20,PETsMART Inc,Statistician,(902) 568-9748,S1A 6K0,ON,4030000000000000,10/2025,Diners Club International,20.83,Yellow,211.103.43.41,Friday,pm,06/14/2045
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,Mr.,John,Maxwell,larlisu@sejenu.ad,Female,38,Spherion Corp,Publishing Director,(873) 298-1178,V4U 0X2,YT,6330000000000000,04/2028,Visa Electron,90.37,Red,194.14.119.109,Sunday,am,04/18/2014
29996,Dr.,Alfred,Bass,le@duridzo.gh,Female,24,Ford Motor Co,Diamond Merchant,(541) 904-3323,T9O 1H6,PE,201000000000000,12/2026,American Express,5.94,White,154.114.74.254,Sunday,pm,09/27/2068
29997,Mrs.,Edward,Curtis,ta@kucemah.et,Female,56,Park Place Entertainment Corp,Executive Director,(375) 931-8605,X5Z 4E1,QC,201000000000000,06/2021,Maestro,65.66,Black,188.0.106.220,Monday,pm,09/07/1997
29998,Mr.,Max,Woods,li@mincoz.mp,Female,64,Nacco Industries Inc,University Administrator,(786) 481-9627,G0S 9Q8,NS,30000000000000,08/2023,Solo,52.66,Black,129.168.247.27,Monday,pm,09/08/1938
29999,Mr.,Olga,Rodriguez,ner@ota.ec,Male,22,Texas Industries Inc.,Leasing Manager,(841) 962-4087,N2D 5K3,BC,6300000000000000,05/2024,InstaPayment,17.71,Yellow,70.2.107.65,Wednesday,am,06/22/1956

In [55]:
# 3Ô∏è‚É£ Show shape of dataset

df.shape

(30000, 20)

In [8]:
# 4Ô∏è‚É£ Show column names

df.columns

Index(['prefix', 'first', 'last', 'email', 'gender', 'age', 'company',
       'profession', 'phone', 'postal', 'province', 'cc_no', 'cc_exp',
       'cc_type', 'price(CAD)', 'fav_color', 'ip', 'weekday', 'ampm', 'date'],
      dtype='object')

In [9]:
# 5Ô∏è‚É£ Check data types

df.dtypes

prefix         object
first          object
last           object
email          object
gender         object
age             int64
company        object
profession     object
phone          object
postal         object
province       object
cc_no           int64
cc_exp         object
cc_type        object
price(CAD)    float64
fav_color      object
ip             object
weekday        object
ampm           object
date           object
dtype: object

In [10]:
# 6Ô∏è‚É£ Check missing values

missing_values = df.isnull().sum()
missing_values

prefix        0
first         0
last          0
email         0
gender        0
age           0
company       0
profession    0
phone         0
postal        0
province      0
cc_no         0
cc_exp        0
cc_type       0
price(CAD)    0
fav_color     0
ip            0
weekday       0
ampm          0
date          0
dtype: int64

In [11]:
# 7Ô∏è‚É£ Describe numerical columns

df.describe()

                age         cc_no    price(CAD)
count  30000.000000  3.000000e+04  30000.000000
mean      41.550067  4.120584e+15     49.990775
std       13.839073  2.340814e+15     28.768666
min       18.000000  3.000000e+13      0.000000
25%       30.000000  3.530000e+15     25.345000
50%       42.000000  5.020000e+15     49.970000
75%       53.000000  6.010000e+15     74.942500
max       65.000000  6.380000e+15    100.000000

# Dataset: Movies

In [16]:
# 8Ô∏è‚É£ Total number of movies

total = df1['id'].count()
print(f'Total movies: {total}')

Total movies: 10000

In [21]:
# 9Ô∏è‚É£ Unique genres count

unique_genre = df1['genre'].unique().shape[0]
print(f'Total unique genre: {unique_genre}')

Total unique genre: 2163

In [40]:
# üîü Oldest movie year

oldest =(
    df1['release_date']
        .sort_values()
        .head(1)
        .reset_index(name = 'oldest_movie')
)
oldest

   index oldest_movie
0    423   1902-06-15

In [39]:
# 1Ô∏è‚É£1Ô∏è‚É£ Newest movie year

newest = (
    df1['release_date']
        .sort_values(ascending = False)
        .head(1)
        .reset_index(name = 'newest_movie')
)
newest

   index newest_movie
0    930   2025-11-26

# Dataset: Students

In [41]:
# 1Ô∏è‚É£2Ô∏è‚É£ Total number of students

total = df2.shape[0]
print('Total student :',total)

Total student : 705

In [8]:
# 1Ô∏è‚É£3Ô∏è‚É£ Unique countries

countries = df2['Country'].unique()
print('Total unique countries: ',countries)

Total unique countries:  ['Bangladesh' 'India' 'USA' 'UK' 'Canada' 'Australia' 'Germany' 'Brazil'
 'Japan' 'South Korea' 'France' 'Spain' 'Italy' 'Mexico' 'Russia' 'China'
 'Sweden' 'Norway' 'Denmark' 'Netherlands' 'Belgium' 'Switzerland'
 'Austria' 'Portugal' 'Greece' 'Ireland' 'New Zealand' 'Singapore'
 'Malaysia' 'Thailand' 'Vietnam' 'Philippines' 'Indonesia' 'Taiwan'
 'Hong Kong' 'Turkey' 'Israel' 'UAE' 'Egypt' 'Morocco' 'South Africa'
 'Nigeria' 'Kenya' 'Ghana' 'Argentina' 'Chile' 'Colombia' 'Peru'
 'Venezuela' 'Ecuador' 'Uruguay' 'Paraguay' 'Bolivia' 'Costa Rica'
 'Panama' 'Jamaica' 'Trinidad' 'Bahamas' 'Iceland' 'Finland' 'Poland'
 'Romania' 'Hungary' 'Czech Republic' 'Slovakia' 'Croatia' 'Serbia'
 'Slovenia' 'Bulgaria' 'Estonia' 'Latvia' 'Lithuania' 'Ukraine' 'Moldova'
 'Belarus' 'Kazakhstan' 'Uzbekistan' 'Kyrgyzstan' 'Tajikistan' 'Armenia'
 'Georgia' 'Azerbaijan' 'Cyprus' 'Malta' 'Luxembourg' 'Monaco' 'Andorra'
 'San Marino' 'Vatican City' 'Liechtenstein' 'Montenegro' 'Albania'
 'North Macedonia' 'Kosovo' 'Bosnia' 'Qatar' 'Kuwait' 'Bahrain' 'Oman'
 'Jordan' 'Lebanon' 'Iraq' 'Yemen' 'Syria' 'Afghanistan' 'Pakistan'
 'Nepal' 'Bhutan' 'Sri Lanka' 'Maldives']

In [52]:
# 1Ô∏è‚É£4Ô∏è‚É£ Average addiction score

avg = df2['Addicted_Score'].mean().round(2)
print('Average addicted score: ', avg)

Average addicted score:  6.44

In [53]:
# 1Ô∏è‚É£5Ô∏è‚É£ Average sleep hours

avg_sleep = df2['Sleep_Hours_Per_Night'].mean().round(2)
print(f'Average Sleep hours: {avg_sleep}')

Average Sleep hours: 6.87