# ü•à DAY 2 ‚Äî loc, iloc, Filtering (Core Skill)
# Customer Dataset

In [3]:
import pandas as pd

df = pd.read_csv("../New folder/Project_Assignment/Cust_Purch_FakeData.csv")
df1 = pd.read_csv('../numpy_practice/jupyter/pandas_practice/Movies_dataset.csv')
df2 = pd.read_csv('../numpy_practice/jupyter/pandas_practice/top_250_imdb_dataset.csv')
df3 = pd.read_csv('../numpy_practice/jupyter/pandas_practice/Students Social Media Addiction.csv')

In [3]:
# 1Ô∏è‚É£ Age > 30

df[df['age'] > 30]

,prefix,first,last,email,gender,age,company,profession,phone,postal,province,cc_no,cc_exp,cc_type,price(CAD),fav_color,ip,weekday,ampm,date
0,Dr.,Ray,Morton,sebvajom@kol.km,Male,38,Medtronic Inc.,Health Therapist,(987) 619-2695,B6V 3W3,MB,5020000000000230,05/2018,Solo,8.36,Blue,126.23.139.2,Sunday,pm,04/05/1930
1,Miss,Claudia,Rodriquez,acu@jatsot.ug,Female,51,"Ames Department Stores, Inc.",Health Therapist,(356) 736-7352,G7M 5F3,SK,5020000000000230,07/2028,Visa,68.31,Black,106.198.76.211,Tuesday,am,12/20/1926
2,Miss,Harry,Meyer,zuz@lo.wf,Female,51,CSX Corp.,Political Scientist,(539) 246-1806,A0Z 6P9,NS,6300000000000000,02/2023,Switch,34.65,Black,186.150.187.29,Wednesday,pm,08/20/1931
3,Miss,Edith,Gilbert,hansohsi@jupec.md,Female,55,Murphy Oil Corporation,Transportation Manager,(984) 962-7494,P9I 9H3,YT,3530000000000000,02/2028,Maestro,64.59,White,80.140.57.161,Saturday,am,06/18/2001
5,Mrs.,Andre,McGuire,to@hotvo.ne,Male,50,Timken Company,Communications Director,(770) 426-3078,G8J 3D9,AB,5610000000000000,12/2018,Laser,25.32,Red,44.6.228.222,Thursday,pm,10/06/2030
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29993,Mr.,Herman,Ballard,di@vu.mz,Female,52,Toll Brothers Inc,Electro Optical Engineer,(947) 891-5151,C3L 6N5,SK,4030000000000000,03/2018,Visa,45.59,Green,131.176.8.57,Wednesday,pm,11/07/2024
29994,Miss,Dennis,Adkins,oloepmul@osu.pm,Female,57,Wellpoint Health Networks Inc,Building Contractor,(787) 626-2200,H2N 6Y5,NB,36900000000000,10/2026,Diners Club United States & Canada,84.38,Red,59.15.246.46,Thursday,am,02/08/1958
29995,Mr.,John,Maxwell,larlisu@sejenu.ad,Female,38,Spherion Corp,Publishing Director,(873) 298-1178,V4U 0X2,YT,6330000000000000,04/2028,Visa Electron,90.37,Red,194.14.119.109,Sunday,am,04/18/2014
29997,Mrs.,Edward,Curtis,ta@kucemah.et,Female,56,Park Place Entertainment Corp,Executive Director,(375) 931-8605,X5Z 4E1,QC,201000000000000,06/2021,Maestro,65.66,Black,188.0.106.220,Monday,pm,09/07/1997
29998,Mr.,Max,Woods,li@mincoz.mp,Female,64,Nacco Industries Inc,University Administrator,(786) 481-9627,G0S 9Q8,NS,30000000000000,08/2023,Solo,52.66,Black,129.168.247.27,Monday,pm,09/08/1938

In [4]:
# 2Ô∏è‚É£ Purchase amount >= 100

df[df['price(CAD)'] >= 100]

,prefix,first,last,email,gender,age,company,profession,phone,postal,province,cc_no,cc_exp,cc_type,price(CAD),fav_color,ip,weekday,ampm,date
76,Mrs.,Gregory,Brown,hav@jek.gs,Female,31,"E*Trade Group, Inc.",Novelist,(625) 537-8923,X3S 4Q2,PE,6010000000000000,04/2018,Visa,100.0,Green,212.100.18.95,Monday,am,10/23/2063
21093,Mrs.,Cody,Christensen,get@jovu.ag,Male,28,National City Corp.,Hospital Administrator,(261) 737-3292,X0S 1O5,PE,201000000000000,03/2024,JCB,100.0,Green,168.48.19.165,Wednesday,pm,03/28/1955
24385,Miss,Lizzie,Dixon,goh@tuwjaz.gd,Female,38,FleetBoston Financial Co.,Compensation Analyst,(989) 239-1752,V8X 9V6,NB,6300000000000000,07/2019,Bankcard,100.0,Blue,140.87.99.78,Saturday,pm,03/03/1983

In [5]:
# 3Ô∏è‚É£ Age between 25 and 40

df[df['age'].between(25, 40)]

,prefix,first,last,email,gender,age,company,profession,phone,postal,province,cc_no,cc_exp,cc_type,price(CAD),fav_color,ip,weekday,ampm,date
0,Dr.,Ray,Morton,sebvajom@kol.km,Male,38,Medtronic Inc.,Health Therapist,(987) 619-2695,B6V 3W3,MB,5020000000000230,05/2018,Solo,8.36,Blue,126.23.139.2,Sunday,pm,04/05/1930
7,Mr.,Cory,Duncan,rucekefif@zi.mt,Male,36,Integrated Electrical Services Inc.,Urban Planner,(529) 615-1417,C9D 4Y4,NU,6300000000000000,10/2028,Diners Club enRoute,10.69,Blue,209.5.235.14,Friday,pm,04/24/2048
8,Miss,Dorothy,Watkins,cakpez@can.pm,Female,36,Service Corp. International,Veterinarian,(279) 709-6064,B0X 0B5,MB,343000000000000,03/2022,Diners Club Carte Blanche,99.56,Green,11.57.253.20,Wednesday,am,10/21/1920
11,Dr.,Rodney,Anderson,iddegape@mocosak.gr,Female,27,Chubb Corp,Social Program Planner,(723) 238-3602,B7S 7D0,AB,30100000000000,03/2027,Visa Electron,34.44,Green,142.94.231.191,Wednesday,pm,12/16/1910
13,Mr.,Lucinda,Zimmerman,owo@fiise.gt,Female,36,D.R. Horton Inc.,Social Program Planner,(422) 475-1008,S2N 9P1,AB,36400000000000,04/2026,Laser,65.76,Black,220.91.218.21,Saturday,am,01/22/2052
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29987,Mr.,Billy,Lucas,hihdu@kuwze.hm,Female,38,Deluxe Corporation,Organizational Development Manager,(933) 517-6356,K6I 2U5,QC,36400000000000,03/2019,InstaPayment,21.17,Blue,72.8.98.51,Tuesday,pm,05/18/1929
29989,Dr.,Stella,Pierce,durif@kaazile.td,Male,27,York International Corp,Telemarketer,(979) 694-3181,C9P 9F0,NL,37000000000000,07/2024,China UnionPay,75.45,Yellow,42.224.53.151,Saturday,am,05/03/1963
29990,Mrs.,Theodore,Lewis,nof@vowna.cz,Female,33,Southwest Airlines Co,Reporter,(905) 477-7816,M6W 8B2,NU,5610000000000000,06/2027,China UnionPay,38.80,Blue,207.238.119.187,Thursday,am,02/14/1994
29992,Mr.,Leonard,Flores,fi@luak.au,Female,36,Aon Corporation,Consultant,(225) 863-1707,X6E 8Z4,PE,30100000000000,12/2024,JCB,86.13,Blue,153.250.119.4,Friday,pm,02/17/1904
29995,Mr.,John,Maxwell,larlisu@sejenu.ad,Female,38,Spherion Corp,Publishing Director,(873) 298-1178,V4U 0X2,YT,6330000000000000,04/2028,Visa Electron,90.37,Red,194.14.119.109,Sunday,am,04/18/2014

In [6]:
# 4Ô∏è‚É£ Total Female customers

total = df[df['gender'] == 'Female'].shape[0]
print('Total female customers:', total)

Total female customers: 15147

In [7]:
# 5Ô∏è‚É£ Customers from USA

df2[df2['Country'] == 'USA'].head()

,Student_ID,Age,Gender,Academic_Level,Country,Avg_Daily_Usage_Hours,Most_Used_Platform,Affects_Academic_Performance,Sleep_Hours_Per_Night,Mental_Health_Score,Relationship_Status,Conflicts_Over_Social_Media,Addicted_Score
2,3,20,Female,Undergraduate,USA,6.0,TikTok,Yes,5.0,5,Complicated,4,9
220,221,19,Female,Undergraduate,USA,6.5,Instagram,Yes,6.0,5,Single,4,9
228,229,19,Female,Undergraduate,USA,7.0,TikTok,Yes,5.8,4,In Relationship,4,9
236,237,19,Female,Undergraduate,USA,6.8,Instagram,Yes,5.9,4,Single,4,9
244,245,19,Female,Undergraduate,USA,6.9,TikTok,Yes,5.7,4,In Relationship,4,9

In [4]:
# 6Ô∏è‚É£ Email contains "gmail"

df[df['email'].str.contains('gmail')].reset_index()

,index,prefix,first,last,email,gender,age,company,profession,phone,...,province,cc_no,cc_exp,cc_type,price(CAD),fav_color,ip,weekday,ampm,date
0,198,Mr.,Jerry,Moss,jufkettug@gmail.com,Male,43,"Earthlink, Inc.",Database Manager,(885) 418-2139,...,AB,4030000000000000,04/2019,Laser,14.58,Black,91.212.40.163,Thursday,pm,08/10/2014
1,201,Mr.,Peter,Gibson,oniweput@gmail.com,Male,27,Praxair Inc,Family Counselor,(566) 956-5103,...,QC,6330000000000000,08/2026,Diners Club enRoute,25.10,Yellow,10.56.93.210,Saturday,am,12/25/2019
2,204,Miss,Gavin,Gonzales,gebasise@gmail.com,Male,62,Science Applications Intl. Inc.,Portfolio Manager,(331) 515-6376,...,QC,6010000000000000,12/2022,Diners Club Carte Blanche,28.22,Green,147.83.94.202,Tuesday,am,04/18/1953
3,205,Dr.,Peter,Reese,sefed@gmail.com,Male,55,Golden West Financial Corporation,Human Resources Manager,(933) 761-5156,...,PE,201000000000000,05/2023,Switch,94.94,Red,15.74.125.17,Thursday,am,03/19/2013
4,209,Dr.,Rose,Dean,robleg@gmail.com,Male,35,EGL Inc.,Animal Trainer,(841) 422-2620,...,YT,201000000000000,09/2021,Bankcard,53.74,White,254.143.37.38,Friday,pm,04/24/1933
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1682,5176,Mrs.,Chester,Norton,dehozic@gmail.com,Male,37,Textron Inc,Family Counselor,(971) 487-6006,...,PE,4900000000000000,05/2020,Discover Card,59.21,Green,19.216.217.237,Tuesday,pm,01/15/2069
1683,5183,Mrs.,Cole,Medina,vuputum@gmail.com,Female,23,National Rural Utilities Cooperative Finance C...,Production Planner,(470) 454-8001,...,YT,5110000000000000,09/2027,Visa,18.27,Blue,222.71.17.226,Friday,pm,05/16/2046
1684,5184,Mr.,Lettie,Pittman,pofizwew@gmail.com,Male,55,RoadwayCorp,Stress Reduction Specialist,(357) 990-3205,...,NL,6010000000000000,03/2027,Visa Electron,14.31,Yellow,148.110.44.175,Tuesday,pm,01/01/2068
1685,5192,Miss,Lola,Webb,ledhinep@gmail.com,Male,32,J.P. Morgan Chase & Co.,Financial Analyst,(500) 722-3522,...,YT,6240000000000000,02/2027,Diners Club Carte Blanche,73.92,Green,102.65.49.72,Wednesday,pm,10/16/1959
1686,5196,Mr.,Jeremy,Oliver,uhepu@gmail.com,Female,44,CNF Inc.,Executive Assistant,(740) 482-1602,...,AB,346000000000000,04/2023,Laser,67.23,Blue,13.98.14.175,Thursday,pm,12/24/2014

# Movies Dataset

In [39]:
# 7Ô∏è‚É£ Movies after 2018

# first convert object data type into datetime data type.
df1['release_date'] = pd.to_datetime( df1['release_date'])
df1['year'] = df1['release_date'].dt.year

df1[df1['year'] > 2018].head()

,id,original_title,original_language,genre,overview,popularity,vote_count,vote_average,release_date,year
9,496243,Í∏∞ÏÉùÏ∂©,ko,"Comedy, Thriller, Drama","All unemployed, Ki-taek's family takes peculia...",18.8551,19826,8.496,2019-05-30,2019
25,667257,Cosas imposibles,es,"Family, Drama","After the death of her abusive husband, Matild...",4.3798,418,8.425,2021-06-17,2021
30,696374,Gabriel's Inferno,en,"Romance, Drama",An intriguing and sinful exploration of seduct...,3.6654,2438,8.400,2020-05-29,2020
40,770156,Lucy Shimmers and the Prince of Peace,en,"Drama, Family",Second chances start when a hardened criminal ...,3.0141,330,8.400,2020-10-19,2020
42,724089,Gabriel's Inferno: Part II,en,"Romance, Drama",Professor Gabriel Emerson finally learns the t...,1.0940,1534,8.400,2020-07-31,2020

In [34]:
# 8Ô∏è‚É£ Movies duration > 150

df2[df2['Duration_Minutes'] > 150].head()

,Rank,Title,Year,Rating,Duration_Minutes,Certificate,Source
1,2,The Godfather,1972,NaN,175,R,IMDb Top 250
2,3,The Dark Knight,2008,NaN,152,PG-13,IMDb Top 250
3,4,The Godfather Part II,1974,NaN,202,R,IMDb Top 250
5,6,The Lord of the Rings: The Return of the King,2003,NaN,201,PG-13,IMDb Top 250
6,7,Schindler's List,1993,NaN,195,R,IMDb Top 250

In [40]:
# 9Ô∏è‚É£ Movies between 2010 and 2020

df1[df1['year'].between(2010, 2020)].head()

,id,original_title,original_language,genre,overview,popularity,vote_count,vote_average,release_date,year
9,496243,Í∏∞ÏÉùÏ∂©,ko,"Comedy, Thriller, Drama","All unemployed, Ki-taek's family takes peculia...",18.8551,19826,8.496,2019-05-30,2019
12,372058,Âêõ„ÅÆÂêç„ÅØ„ÄÇ,ja,"Animation, Romance, Drama",High schoolers Mitsuha and Taki are complete s...,18.0858,12165,8.478,2016-08-26,2016
14,157336,Interstellar,en,"Adventure, Drama, Science Fiction",The adventures of a group of explorers who mak...,45.8189,38436,8.464,2014-11-05,2014
30,696374,Gabriel's Inferno,en,"Romance, Drama",An intriguing and sinful exploration of seduct...,3.6654,2438,8.400,2020-05-29,2020
31,255709,ÏÜåÏõê,ko,Drama,After 8-year-old So-won narrowly survives a br...,2.6809,811,8.400,2013-10-02,2013

In [44]:
# üîü Movies with votes > 10000

df1[df1['vote_count'] > 10000].head()

,id,original_title,original_language,genre,overview,popularity,vote_count,vote_average,release_date,year
0,278,The Shawshank Redemption,en,"Drama, Crime",Imprisoned in the 1940s for the double murder ...,36.1467,29384,8.714,1994-09-23,1994
1,238,The Godfather,en,"Drama, Crime","Spanning the years 1945 to 1955, a chronicle o...",37.3341,22174,8.686,1972-03-14,1972
2,240,The Godfather Part II,en,"Drama, Crime",In the continuing saga of the Corleone crime f...,14.6729,13404,8.571,1974-12-20,1974
3,424,Schindler's List,en,"Drama, History, War",The true story of how businessman Oskar Schind...,13.6783,16923,8.566,1993-12-15,1993
5,129,ÂçÉ„Å®ÂçÉÂ∞ã„ÅÆÁ•ûÈö†„Åó,ja,"Animation, Family, Fantasy","A young girl, Chihiro, becomes trapped in a st...",25.6839,17726,8.533,2001-07-20,2001

# Students Dataset

In [47]:
# 1Ô∏è‚É£1Ô∏è‚É£ Sleep < 6

df3[df3['Sleep_Hours_Per_Night'] < 6]

,Student_ID,Age,Gender,Academic_Level,Country,Avg_Daily_Usage_Hours,Most_Used_Platform,Affects_Academic_Performance,Sleep_Hours_Per_Night,Mental_Health_Score,Relationship_Status,Conflicts_Over_Social_Media,Addicted_Score
2,3,20,Female,Undergraduate,USA,6.0,TikTok,Yes,5.0,5,Complicated,4,9
5,6,19,Female,Undergraduate,Australia,7.2,Instagram,Yes,4.5,4,Complicated,5,9
11,12,20,Female,Undergraduate,Spain,5.5,TikTok,Yes,5.8,6,In Relationship,2,8
13,14,18,Female,High School,Mexico,6.5,Instagram,Yes,5.5,5,Single,4,9
17,18,19,Female,High School,Norway,5.0,Instagram,Yes,5.7,5,In Relationship,3,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...
658,659,20,Female,Undergraduate,India,7.1,TikTok,Yes,5.8,4,Single,5,9
667,668,24,Male,Graduate,Russia,6.9,Instagram,Yes,5.9,4,Single,5,9
675,676,22,Male,Graduate,India,7.2,Facebook,Yes,5.7,4,Single,5,9
692,693,19,Female,Undergraduate,India,7.0,TikTok,Yes,5.8,4,Single,5,9
701,702,23,Male,Graduate,Russia,6.8,Instagram,Yes,5.9,4,Single,5,9

In [48]:
# 1Ô∏è‚É£2Ô∏è‚É£ Addiction score ‚â• 8

df3[df3['Addicted_Score'] >= 8]

,Student_ID,Age,Gender,Academic_Level,Country,Avg_Daily_Usage_Hours,Most_Used_Platform,Affects_Academic_Performance,Sleep_Hours_Per_Night,Mental_Health_Score,Relationship_Status,Conflicts_Over_Social_Media,Addicted_Score
0,1,19,Female,Undergraduate,Bangladesh,5.2,Instagram,Yes,6.5,6,In Relationship,3,8
2,3,20,Female,Undergraduate,USA,6.0,TikTok,Yes,5.0,5,Complicated,4,9
5,6,19,Female,Undergraduate,Australia,7.2,Instagram,Yes,4.5,4,Complicated,5,9
7,8,20,Female,Undergraduate,Brazil,5.8,Snapchat,Yes,6.0,6,In Relationship,2,8
11,12,20,Female,Undergraduate,Spain,5.5,TikTok,Yes,5.8,6,In Relationship,2,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...
694,695,20,Female,Undergraduate,Turkey,6.6,Instagram,Yes,6.1,5,Single,4,8
696,697,21,Female,Undergraduate,Mexico,6.3,TikTok,Yes,6.2,5,Single,4,8
699,700,22,Male,Graduate,UK,6.2,Twitter,Yes,6.3,5,Single,4,8
701,702,23,Male,Graduate,Russia,6.8,Instagram,Yes,5.9,4,Single,5,9
704,705,19,Female,Undergraduate,Poland,6.2,Facebook,Yes,6.3,5,Single,4,8

In [49]:
# 1Ô∏è‚É£3Ô∏è‚É£ Daily usage > 5

df3[df3['Avg_Daily_Usage_Hours'] > 5]

,Student_ID,Age,Gender,Academic_Level,Country,Avg_Daily_Usage_Hours,Most_Used_Platform,Affects_Academic_Performance,Sleep_Hours_Per_Night,Mental_Health_Score,Relationship_Status,Conflicts_Over_Social_Media,Addicted_Score
0,1,19,Female,Undergraduate,Bangladesh,5.2,Instagram,Yes,6.5,6,In Relationship,3,8
2,3,20,Female,Undergraduate,USA,6.0,TikTok,Yes,5.0,5,Complicated,4,9
5,6,19,Female,Undergraduate,Australia,7.2,Instagram,Yes,4.5,4,Complicated,5,9
7,8,20,Female,Undergraduate,Brazil,5.8,Snapchat,Yes,6.0,6,In Relationship,2,8
11,12,20,Female,Undergraduate,Spain,5.5,TikTok,Yes,5.8,6,In Relationship,2,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...
698,699,19,Female,Undergraduate,Canada,5.7,Instagram,Yes,6.6,6,Single,3,7
699,700,22,Male,Graduate,UK,6.2,Twitter,Yes,6.3,5,Single,4,8
701,702,23,Male,Graduate,Russia,6.8,Instagram,Yes,5.9,4,Single,5,9
702,703,21,Female,Undergraduate,China,5.6,WeChat,Yes,6.7,6,In Relationship,3,7
704,705,19,Female,Undergraduate,Poland,6.2,Facebook,Yes,6.3,5,Single,4,8

In [50]:
# 1Ô∏è‚É£4Ô∏è‚É£ Students from Bangladesh

df3[df3['Country'] == 'Bangladesh']

,Student_ID,Age,Gender,Academic_Level,Country,Avg_Daily_Usage_Hours,Most_Used_Platform,Affects_Academic_Performance,Sleep_Hours_Per_Night,Mental_Health_Score,Relationship_Status,Conflicts_Over_Social_Media,Addicted_Score
0,1,19,Female,Undergraduate,Bangladesh,5.2,Instagram,Yes,6.5,6,In Relationship,3,8
110,111,20,Male,Undergraduate,Bangladesh,6.1,Instagram,Yes,6.2,5,Single,4,8
116,117,21,Male,Graduate,Bangladesh,6.0,Facebook,Yes,5.8,5,In Relationship,4,8
122,123,19,Male,Undergraduate,Bangladesh,5.3,TikTok,Yes,6.3,5,Single,4,8
128,129,22,Male,Graduate,Bangladesh,5.1,Facebook,Yes,6.5,5,Single,4,8
134,135,19,Male,Undergraduate,Bangladesh,4.9,TikTok,Yes,6.7,5,Single,4,8
140,141,22,Male,Graduate,Bangladesh,4.7,Facebook,Yes,6.9,5,Single,4,8
146,147,19,Male,Undergraduate,Bangladesh,4.5,TikTok,Yes,7.1,5,Single,4,8
152,153,22,Male,Graduate,Bangladesh,4.3,Facebook,Yes,7.3,5,Single,4,8
158,159,19,Male,Undergraduate,Bangladesh,4.1,TikTok,Yes,7.5,5,Single,4,8
160,161,19,Female,Undergraduate,Bangladesh,5.3,Instagram,Yes,6.1,5,Single,3,7
166,167,20,Female,Undergraduate,Bangladesh,4.9,Instagram,Yes,6.4,5,Single,3,7
172,173,19,Female,Undergraduate,Bangladesh,4.8,Instagram,Yes,6.6,5,Single,3,7
178,179,20,Female,Undergraduate,Bangladesh,4.7,Instagram,Yes,6.8,5,Single,3,7
184,185,19,Female,Undergraduate,Bangladesh,4.6,Instagram,Yes,7.0,5,Single,3,7
190,191,20,Female,Undergraduate,Bangladesh,4.5,Instagram,Yes,7.2,5,Single,3,7
196,197,19,Female,Undergraduate,Bangladesh,4.4,Instagram,Yes,7.4,5,Single,3,7
202,203,20,Female,Undergraduate,Bangladesh,4.3,Instagram,Yes,7.6,5,Single,3,7
208,209,19,Female,Undergraduate,Bangladesh,4.2,Instagram,Yes,7.8,5,Single,3,7
214,215,20,Female,Undergraduate,Bangladesh,4.1,Instagram,Yes,8.0,5,Single,3,7

In [53]:
# 1Ô∏è‚É£5Ô∏è‚É£ Combined: addiction ‚â• 8 AND sleep < 6

df3[(df3['Addicted_Score'] >= 8) & (df3['Sleep_Hours_Per_Night'] < 6)]

,Student_ID,Age,Gender,Academic_Level,Country,Avg_Daily_Usage_Hours,Most_Used_Platform,Affects_Academic_Performance,Sleep_Hours_Per_Night,Mental_Health_Score,Relationship_Status,Conflicts_Over_Social_Media,Addicted_Score
2,3,20,Female,Undergraduate,USA,6.0,TikTok,Yes,5.0,5,Complicated,4,9
5,6,19,Female,Undergraduate,Australia,7.2,Instagram,Yes,4.5,4,Complicated,5,9
11,12,20,Female,Undergraduate,Spain,5.5,TikTok,Yes,5.8,6,In Relationship,2,8
13,14,18,Female,High School,Mexico,6.5,Instagram,Yes,5.5,5,Single,4,9
17,18,19,Female,High School,Norway,5.0,Instagram,Yes,5.7,5,In Relationship,3,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...
658,659,20,Female,Undergraduate,India,7.1,TikTok,Yes,5.8,4,Single,5,9
667,668,24,Male,Graduate,Russia,6.9,Instagram,Yes,5.9,4,Single,5,9
675,676,22,Male,Graduate,India,7.2,Facebook,Yes,5.7,4,Single,5,9
692,693,19,Female,Undergraduate,India,7.0,TikTok,Yes,5.8,4,Single,5,9
701,702,23,Male,Graduate,Russia,6.8,Instagram,Yes,5.9,4,Single,5,9