# üß† DAY 6 ‚Äî Advanced Filtering & Multi-Condition
# Customer

In [1]:
import pandas as pd

df = pd.read_csv("../New folder/Project_Assignment/Cust_Purch_FakeData.csv")
df1 = pd.read_csv('../numpy_practice/jupyter/pandas_practice/Movies_dataset.csv')
df2 = pd.read_csv('../numpy_practice/jupyter/pandas_practice/top_250_imdb_dataset.csv')
df3 = pd.read_csv('../numpy_practice/jupyter/pandas_practice/Students Social Media Addiction.csv')

In [51]:
# 1Ô∏è‚É£ Age 25‚Äì35 AND purchase 80‚Äì100

(
    df[(df['age'].between(25, 35)) &
        (df['price(CAD)'].between(80, 100))]
        .reset_index( drop = True)
)

,prefix,first,last,email,gender,age,company,profession,phone,postal,...,cc_no,cc_exp,cc_type,price(CAD),fav_color,ip,weekday,ampm,date,year
0,Mrs.,Cody,Cole,ali@vev.mr,Female,34,Cenex Harvest States Cooperatives,Compensation Analyst,(940) 298-9362,P0L 0J4,...,6260000000000000,06/2025,InstaPayment,84.83,Blue,147.201.26.123,Saturday,pm,1999-03-28,1999
1,Mrs.,Lydia,Hardy,lakped@majlos.mq,Female,27,Illinois Tool Works Inc.,Speech Pathologist,(508) 382-1810,T0T 6A2,...,5610000000000000,04/2027,China UnionPay,95.67,Green,218.103.56.170,Monday,am,1955-04-09,1955
2,Dr.,Elizabeth,Carroll,peitip@jo.sl,Female,35,Williams Sonoma Inc,Medical Technician,(268) 318-3105,N8H 0A8,...,3530000000000000,03/2022,American Express,88.24,Black,146.69.214.76,Monday,am,2022-12-31,2022
3,Mr.,Jeremiah,McKenzie,fermic@mon.gl,Female,25,Level 3 Communications Inc.,TV Programmer,(979) 294-2789,B0Y 5N2,...,36800000000000,01/2021,JCB,80.01,Green,132.126.213.35,Monday,am,1946-01-27,1946
4,Mrs.,Gregory,Brown,hav@jek.gs,Female,31,"E*Trade Group, Inc.",Novelist,(625) 537-8923,X3S 4Q2,...,6010000000000000,04/2018,Visa,100.00,Green,212.100.18.95,Monday,am,2063-10-23,2063
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1305,Mr.,Andre,Ramirez,ebpor@pogi.it,Male,28,Rockwell Automation Inc,Civil Engineer,(311) 334-2464,L9I 8R0,...,36200000000000,12/2019,InstaPayment,90.60,Black,224.248.193.16,Monday,pm,1917-06-05,1917
1306,Mrs.,Jason,Flores,esgisok@wogmeh.mx,Female,25,The LTV Corporation,Store Manager,(426) 612-4834,A1A 2K5,...,6370000000000000,07/2024,American Express,95.08,Blue,208.122.36.38,Thursday,am,1927-04-08,1927
1307,Miss,Mayme,Castro,esekumlu@jodmupop.nz,Female,33,Whole Foods Market Inc,Chef,(908) 278-4162,S2A 1C6,...,3530000000000000,09/2024,Visa,82.36,Red,100.39.147.168,Sunday,am,1916-04-13,1916
1308,Mr.,Alejandro,Tate,fave@lo.gt,Male,25,Ryder System Inc,Entrepreneur,(307) 900-5311,E1I 1M2,...,5430000000000000,08/2018,Solo,86.83,Red,82.152.175.11,Tuesday,am,2041-06-20,2041
1309,Miss,Bill,Nunez,kefoc@fesujki.kn,Male,25,National City Corp.,Cruise Director,(464) 931-7254,E1D 4I7,...,6330000000000000,12/2018,China UnionPay,81.37,Black,221.115.13.123,Thursday,pm,2037-07-19,2037

In [50]:
# 2Ô∏è‚É£ High spenders from Male

high_spender_male = (
    df[(df['price(CAD)'] > 90) &
        (df['gender'] == 'Male')]
)
high_spender_male.reset_index( drop = True)

,prefix,first,last,email,gender,age,company,profession,phone,postal,...,cc_no,cc_exp,cc_type,price(CAD),fav_color,ip,weekday,ampm,date,year
0,Mr.,Allen,Glover,hawipon@soc.af,Male,41,ChevronTexaco Corp.,Insurance Adjuster,(915) 544-1155,X4C 8T8,...,4900000000000000,07/2020,Visa,95.32,White,90.209.33.83,Thursday,pm,1931-08-27,1931
1,Mr.,Luke,Howard,fagidu@ughicmaf.es,Male,54,Northern Trust Corporation,Actuary,(887) 432-7896,M4D 8Q9,...,30000000000000,05/2024,Discover Card,93.65,Blue,209.224.199.138,Saturday,pm,1923-10-16,1923
2,Dr.,Chris,Blair,mukcab@olfenso.lc,Male,57,Sara Lee Corp,Technical Writer,(216) 258-7604,K2G 4A5,...,6380000000000000,04/2028,Laser,91.14,White,220.139.138.7,Thursday,am,2067-09-14,2067
3,Dr.,Jared,Crawford,ak@ni.kz,Male,55,Universal Health Services Inc,Administrator,(736) 798-2278,V5D 8I9,...,201000000000000,05/2027,InstaPayment,95.57,Green,142.245.189.65,Tuesday,pm,1971-05-19,1971
4,Mrs.,Bruce,Fuller,popfi@rom.vg,Male,58,Kohl's Corp.,Designer,(484) 929-2145,R8B 7R8,...,6330000000000000,01/2021,InstaPayment,96.86,Green,82.68.191.2,Monday,am,1910-12-23,1910
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1411,Miss,Eugene,Malone,udmohta@hive.pf,Male,59,JDS Uniphase Corp.,Redevelopment Specialist,(918) 465-3837,R4E 7M0,...,6380000000000000,01/2019,Discover Card,97.78,Blue,193.227.8.98,Saturday,am,1924-02-19,1924
1412,Mr.,Andre,Ramirez,ebpor@pogi.it,Male,28,Rockwell Automation Inc,Civil Engineer,(311) 334-2464,L9I 8R0,...,36200000000000,12/2019,InstaPayment,90.60,Black,224.248.193.16,Monday,pm,1917-06-05,1917
1413,Mr.,Matthew,Wagner,ga@jafdo.pt,Male,20,Healthsouth Corp,Store Manager,(605) 790-2386,S1I 0J6,...,4030000000000000,04/2023,Diners Club Carte Blanche,90.74,Yellow,223.7.175.111,Saturday,am,2062-02-09,2062
1414,Mrs.,Minnie,Bridges,lunopoc@piv.sh,Male,20,Safeco Corp,Engineer Technician,(623) 853-9511,N6W 7H5,...,36600000000000,11/2027,Diners Club International,93.93,Blue,155.255.20.87,Sunday,pm,2005-12-29,2005
1415,Miss,Landon,Hawkins,walow@tefif.pt,Male,24,Arkansas Best Corporation,Glamour Photographer,(487) 884-2762,N8W 6Y2,...,30100000000000,06/2026,Diners Club enRoute,99.53,Black,204.134.153.88,Wednesday,am,1973-07-16,1973

In [52]:
# 3Ô∏è‚É£ Customers who purchased in 2020 AND spent > 95

df['date'] = pd.to_datetime(df['date'])
df['year'] = df['date'].dt.year

vip_customers = (
    df[(df['year'] == 2020) &
        (df['price(CAD)'] > 95)]
)
vip_customers.reset_index( drop = True)

,prefix,first,last,email,gender,age,company,profession,phone,postal,...,cc_no,cc_exp,cc_type,price(CAD),fav_color,ip,weekday,ampm,date,year
0,Miss,Nellie,Olson,bura@hafsapa.my,Female,41,Tower Automotive Inc.,Rehabilitation Counselor,(519) 382-4655,T3W 5Y0,...,4710000000000000,02/2020,Visa Electron,97.53,Black,149.194.18.155,Tuesday,pm,2020-02-08,2020
1,Mr.,Harvey,Lyons,mabfu@yahoo.com,Male,47,Foamex International Inc,Real Estate Broker,(821) 488-9709,H5H 7T8,...,345000000000000,02/2021,Switch,98.99,Blue,41.100.5.155,Saturday,am,2020-11-24,2020
2,Mrs.,Willie,Baker,degam@outlook.com,Female,55,Laboratory Corporation of America Holdings,Trainer Translator,(501) 644-1391,M8X 3G7,...,36000000000000,06/2021,American Express,97.90,Blue,187.196.63.144,Monday,pm,2020-07-09,2020
3,Mrs.,Jean,Tran,ika@diptow.km,Female,31,New York Times Company,Athletic Coach,(205) 688-1032,T1O 9T0,...,6300000000000000,09/2024,Bankcard,98.06,Red,140.201.243.205,Friday,pm,2020-06-10,2020
4,Dr.,Arthur,Santiago,zegaave@otjuefe.ro,Male,54,Centex Corp.,Project Engineer,(642) 581-1358,M6C 3V4,...,6300000000000000,01/2021,American Express,99.30,Green,122.20.205.119,Wednesday,pm,2020-03-23,2020
5,Mrs.,Lewis,Houston,wozja@wi.ir,Male,47,Teleflex Incorporated,Lab Services Director,(458) 765-4550,M4H 8Z0,...,6330000000000000,05/2024,Laser,97.66,Black,221.166.228.192,Thursday,am,2020-03-29,2020
6,Mrs.,Helen,Chapman,dim@linti.uk,Female,20,Zions Bancorporation,Electronics Engineer,(487) 792-6156,V2C 8M7,...,201000000000000,03/2025,Diners Club United States & Canada,99.10,White,237.197.159.93,Friday,am,2020-04-09,2020
7,Mrs.,Lora,Peters,ib@cojgifam.vg,Female,40,MasTec Inc.,Publishing Director,(289) 877-2962,E7O 6P6,...,6210000000000000,09/2022,Mastercard,98.36,Blue,67.208.188.14,Tuesday,pm,2020-08-31,2020
8,Dr.,Barbara,Cobb,ro@ko.gb,Female,39,The Allstate Corporation,Logistics Manager,(810) 214-2151,A9P 5E1,...,6300000000000000,02/2028,American Express,98.32,Red,203.186.230.222,Tuesday,pm,2020-02-19,2020
9,Mrs.,Lester,Stevens,ukoozo@sumvog.sy,Female,44,Motorola Inc.,Technical Illustrator,(508) 201-6003,R9V 8C8,...,4900000000000000,03/2025,Discover Card,99.33,Yellow,239.209.187.137,Tuesday,pm,2020-03-30,2020

# Movies

In [12]:
# 4Ô∏è‚É£ Duration 100‚Äì180 AND year > 2015

(
    df2[(df2['Duration_Minutes'].between(100, 180)) &
        (df2['Year'] > 2015)]
        .reset_index(drop = True)
)

,Rank,Title,Year,Rating,Duration_Minutes,Certificate,Source
0,34,Parasite,2019,NaN,132,R,IMDb Top 250
1,44,Spider-Man: Across the Spider-Verse,2023,NaN,140,PG,IMDb Top 250
2,58,Dune: Part Two,2024,NaN,166,PG-13,IMDb Top 250
3,60,Avengers: Infinity War,2018,NaN,149,PG-13,IMDb Top 250
4,62,Spider-Man: Into the Spider-Verse,2018,NaN,117,PG,IMDb Top 250
5,69,12th Fail,2023,NaN,147,NaN,IMDb Top 250
6,74,Coco,2017,NaN,105,PG,IMDb Top 250
7,78,Your Name.,2016,NaN,106,NaN,IMDb Top 250
8,86,Capernaum,2018,NaN,126,R,IMDb Top 250
9,87,Joker,2019,NaN,122,R,IMDb Top 250
10,121,1917,2019,NaN,119,R,IMDb Top 250
11,125,Dangal,2016,NaN,161,Not Rated,IMDb Top 250
12,127,Oppenheimer,2023,NaN,180,R,IMDb Top 250
13,129,Green Book,2018,NaN,130,PG-13,IMDb Top 250
14,133,Hamilton,2020,NaN,160,PG-13,IMDb Top 250
15,147,Top Gun: Maverick,2022,NaN,130,PG-13,IMDb Top 250
16,163,Demon Slayer: Kimetsu no Yaiba Infinity Castle,2025,NaN,155,R,IMDb Top 250
17,173,"Three Billboards Outside Ebbing, Missouri",2017,NaN,115,R,IMDb Top 250
18,179,The Wild Robot,2024,NaN,102,PG,IMDb Top 250
19,189,Hacksaw Ridge,2016,NaN,139,R,IMDb Top 250
20,197,Spider-Man: No Way Home,2021,NaN,148,PG-13,IMDb Top 250
21,202,Ford v Ferrari,2019,NaN,152,PG-13,IMDb Top 250
22,210,Logan,2017,NaN,137,R,IMDb Top 250
23,221,Maharaja,2024,NaN,141,NaN,IMDb Top 250
24,222,Jai Bhim,2021,NaN,164,Approved,IMDb Top 250
25,223,A Silent Voice: The Movie,2016,NaN,130,Not Rated,IMDb Top 250
26,227,Chainsaw Man - The Movie: Reze Arc,2025,NaN,100,R,IMDb Top 250
27,242,Marty Supreme,2025,NaN,149,R,IMDb Top 250
28,244,The Handmaiden,2016,NaN,145,Not Rated,IMDb Top 250

In [21]:
# 5Ô∏è‚É£ Votes > 100 AND popularity > 120

(
    df1[(df1['vote_count'] > 100) &
        (df1['popularity'] > 120)]
        .reset_index()
)

,index,id,original_title,original_language,genre,overview,popularity,vote_count,vote_average,release_date
0,930,1084242,Zootopia 2,en,"Animation, Comedy, Adventure, Family, Mystery",After cracking the biggest case in Zootopia's ...,336.7672,700,7.651,2025-11-26
1,2323,812583,Wake Up Dead Man: A Knives Out Mystery,en,"Thriller, Mystery, Comedy",When young priest Jud Duplenticy is sent to as...,182.6110,976,7.224,2025-11-26
2,4315,798645,The Running Man,en,"Action, Thriller, Science Fiction","Desperate to save his sick daughter, working-c...",197.7005,714,6.833,2025-11-11
3,5698,533533,TRON: Ares,en,"Science Fiction, Adventure, Action",A highly sophisticated Program called Ares is ...,129.4910,801,6.571,2025-10-08
4,6192,425274,Now You See Me: Now You Don't,en,"Thriller, Crime, Mystery",The original Four Horsemen reunite with a new ...,441.5515,587,6.470,2025-11-12

In [31]:
# 6Ô∏è‚É£ Movies between 2000‚Äì2010 sorted by votes

#  first remove the null values of release_date.
df1.dropna(subset = ['release_date'], inplace = True)

# Now convert obj data type into datetime data type.
df1['release_date'] = pd.to_datetime(df1['release_date'])
df1['release_year'] = df1['release_date'].dt.year

(
    df1[df1['release_year'].between(2000, 2010)]
       .sort_values(by = 'vote_count', ascending = False)
       .reset_index(drop = True)
)

,id,original_title,original_language,genre,overview,popularity,vote_count,vote_average,release_date,release_year
0,27205,Inception,en,"Action, Science Fiction, Adventure","Cobb, a skilled thief who commits corporate es...",36.2862,38375,8.371,2010-07-15,2010
1,155,The Dark Knight,en,"Drama, Action, Crime, Thriller",Batman raises the stakes in his war on crime. ...,28.8391,34849,8.524,2008-07-16,2008
2,19995,Avatar,en,"Action, Adventure, Fantasy, Science Fiction","In the 22nd century, a paraplegic Marine is di...",114.6669,32998,7.600,2009-12-16,2009
3,671,Harry Potter and the Philosopher's Stone,en,"Adventure, Fantasy",Harry Potter has lived under the stairs at his...,29.5713,28909,7.899,2001-11-16,2001
4,1726,Iron Man,en,"Action, Science Fiction, Adventure","After being held captive in an Afghan cave, bi...",23.7572,27543,7.654,2008-04-30,2008
...,...,...,...,...,...,...,...,...,...,...
2412,39057,ÂäáÂ†¥Áâà„Éù„Ç±„ÉÉ„Éà„É¢„É≥„Çπ„Çø„Éº „ÉÄ„Ç§„É§„É¢„É≥„Éâ&„Éë„Éº„É´ „Ç¢„É´„Çª„Ç¶„Çπ Ë∂ÖÂÖã„ÅÆÊôÇÁ©∫„Å∏,ja,"Family, Animation, Adventure, Fantasy","When the creator of the world, Arceus, comes t...",5.5061,301,7.081,2009-07-18,2009
2413,11065,O,en,"Drama, Romance, Thriller",Even though he's the only black student at the...,1.1866,300,5.898,2001-08-31,2001
2414,14072,‡§∞‡§¨ ‡§®‡•á ‡§¨‡§®‡§æ ‡§¶‡•Ä ‡§ú‡•ã‡§°‡§º‡•Ä,hi,"Comedy, Drama, Romance","A lonely 40-ish man, likely to remain a bachel...",2.1215,300,7.082,2008-12-11,2008
2415,14613,Next Avengers: Heroes of Tomorrow,en,"Animation, Family, Action, Adventure, Science ...",The children of the Avengers hone their powers...,1.1288,300,7.040,2008-09-02,2008
2416,13990,The Wackness,en,"Drama, Comedy, Romance","Set in New York City in the sweltering summer,...",3.5217,300,6.412,2008-07-03,2008

# Students

In [53]:
# 7Ô∏è‚É£ Addiction ‚â• 8 AND sleep < 6 AND usage > 6

Addicted_students = (
    df3[(df3['Addicted_Score'] >= 8) &
        (df3['Sleep_Hours_Per_Night'] < 6) &
        (df3['Avg_Daily_Usage_Hours'] > 6)]
)
Addicted_students.reset_index( drop = True)

,Student_ID,Age,Gender,Academic_Level,Country,Avg_Daily_Usage_Hours,Most_Used_Platform,Affects_Academic_Performance,Sleep_Hours_Per_Night,Mental_Health_Score,Relationship_Status,Conflicts_Over_Social_Media,Addicted_Score
0,6,19,Female,Undergraduate,Australia,7.2,Instagram,Yes,4.5,4,Complicated,5,9
1,14,18,Female,High School,Mexico,6.5,Instagram,Yes,5.5,5,Single,4,9
2,26,19,Female,High School,Ireland,6.1,Instagram,Yes,5.2,5,Complicated,4,9
3,38,19,Female,High School,UAE,6.2,Instagram,Yes,5.1,5,In Relationship,4,9
4,50,19,Female,High School,Ecuador,6.3,Instagram,Yes,5.2,5,Complicated,4,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...
67,659,20,Female,Undergraduate,India,7.1,TikTok,Yes,5.8,4,Single,5,9
68,668,24,Male,Graduate,Russia,6.9,Instagram,Yes,5.9,4,Single,5,9
69,676,22,Male,Graduate,India,7.2,Facebook,Yes,5.7,4,Single,5,9
70,693,19,Female,Undergraduate,India,7.0,TikTok,Yes,5.8,4,Single,5,9
71,702,23,Male,Graduate,Russia,6.8,Instagram,Yes,5.9,4,Single,5,9

In [54]:
# 8Ô∏è‚É£ Female students with addiction ‚â• 7

female_students = (
    df3[(df3['Gender'] == 'Female') &
        (df3['Addicted_Score'] >= 7)]
)
female_students.reset_index(drop = True)

,Student_ID,Age,Gender,Academic_Level,Country,Avg_Daily_Usage_Hours,Most_Used_Platform,Affects_Academic_Performance,Sleep_Hours_Per_Night,Mental_Health_Score,Relationship_Status,Conflicts_Over_Social_Media,Addicted_Score
0,1,19,Female,Undergraduate,Bangladesh,5.2,Instagram,Yes,6.5,6,In Relationship,3,8
1,3,20,Female,Undergraduate,USA,6.0,TikTok,Yes,5.0,5,Complicated,4,9
2,6,19,Female,Undergraduate,Australia,7.2,Instagram,Yes,4.5,4,Complicated,5,9
3,8,20,Female,Undergraduate,Brazil,5.8,Snapchat,Yes,6.0,6,In Relationship,2,8
4,12,20,Female,Undergraduate,Spain,5.5,TikTok,Yes,5.8,6,In Relationship,2,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...
196,695,20,Female,Undergraduate,Turkey,6.6,Instagram,Yes,6.1,5,Single,4,8
197,697,21,Female,Undergraduate,Mexico,6.3,TikTok,Yes,6.2,5,Single,4,8
198,699,19,Female,Undergraduate,Canada,5.7,Instagram,Yes,6.6,6,Single,3,7
199,703,21,Female,Undergraduate,China,5.6,WeChat,Yes,6.7,6,In Relationship,3,7
200,705,19,Female,Undergraduate,Poland,6.2,Facebook,Yes,6.3,5,Single,4,8

In [55]:
# 9Ô∏è‚É£ Bangladesh students with usage > 5

bangladeshi_students = (
    df3[(df3['Country'] == 'Bangladesh') &
        (df3['Avg_Daily_Usage_Hours'] > 5)]
)
bangladeshi_students.reset_index( drop = True)

,Student_ID,Age,Gender,Academic_Level,Country,Avg_Daily_Usage_Hours,Most_Used_Platform,Affects_Academic_Performance,Sleep_Hours_Per_Night,Mental_Health_Score,Relationship_Status,Conflicts_Over_Social_Media,Addicted_Score
0,1,19,Female,Undergraduate,Bangladesh,5.2,Instagram,Yes,6.5,6,In Relationship,3,8
1,111,20,Male,Undergraduate,Bangladesh,6.1,Instagram,Yes,6.2,5,Single,4,8
2,117,21,Male,Graduate,Bangladesh,6.0,Facebook,Yes,5.8,5,In Relationship,4,8
3,123,19,Male,Undergraduate,Bangladesh,5.3,TikTok,Yes,6.3,5,Single,4,8
4,129,22,Male,Graduate,Bangladesh,5.1,Facebook,Yes,6.5,5,Single,4,8
5,161,19,Female,Undergraduate,Bangladesh,5.3,Instagram,Yes,6.1,5,Single,3,7

# üëâ ‚ÄúTop 5 most voted movies  between 2000‚Äì2010‚Äù

In [41]:
(
    df1[df1['release_year'].between(2000, 2010)]
       .groupby('release_year')['vote_count']
       .max()
       .sort_values( ascending = False) 
       .head(5)
       .reset_index(name = 'top_5_voted_movies')
       
)

   release_year  top_5_voted_movies
0          2010               38375
1          2008               34849
2          2009               32998
3          2001               28909
4          2003               25756

# üëâ ‚ÄúTop 5 most voted movies per year between 2000‚Äì2010‚Äù

In [43]:
(
    df1[df1['release_year'].between(2000, 2010)]
       .sort_values(['release_year','vote_count'] ,ascending = [ True , False ])
       .groupby('release_year')
       .head(5)       
)

,id,original_title,original_language,genre,overview,popularity,vote_count,vote_average,release_date,release_year
101,98,Gladiator,en,"Action, Drama, Adventure","After the death of Emperor Marcus Aurelius, hi...",23.2573,20308,8.221,2000-05-04,2000
130,77,Memento,en,"Mystery, Thriller",Leonard Shelby is tracking down the man who ra...,7.9357,15740,8.177,2000-10-11,2000
881,8358,Cast Away,en,"Adventure, Drama","Chuck Noland, a top international manager for ...",9.6932,11940,7.660,2000-12-22,2000
3443,36657,X-Men,en,"Adventure, Action, Science Fiction","Two mutants, Rogue and Wolverine, come to a pr...",0.4055,11887,7.008,2000-07-13,2000
1667,1359,American Psycho,en,"Thriller, Drama, Crime",A wealthy New York investment banking executiv...,8.5179,11802,7.407,2000-04-13,2000
424,671,Harry Potter and the Philosopher's Stone,en,"Adventure, Fantasy",Harry Potter has lived under the stairs at his...,29.5713,28909,7.899,2001-11-16,2001
24,120,The Lord of the Rings: The Fellowship of the Ring,en,"Adventure, Fantasy, Action","Young hobbit Frodo Baggins, after inheriting a...",23.4022,26701,8.426,2001-12-18,2001
511,585,"Monsters, Inc.",en,"Animation, Comedy, Family",Lovable Sulley and his wisecracking sidekick M...,18.1792,19299,7.847,2001-11-01,2001
690,808,Shrek,en,"Animation, Comedy, Fantasy, Adventure, Family",It ain't easy bein' green -- especially if you...,22.7250,18193,7.754,2001-05-18,2001
5,129,ÂçÉ„Å®ÂçÉÂ∞ã„ÅÆÁ•ûÈö†„Åó,ja,"Animation, Family, Fantasy","A young girl, Chihiro, becomes trapped in a st...",25.6839,17726,8.533,2001-07-20,2001
29,121,The Lord of the Rings: The Two Towers,en,"Adventure, Fantasy, Action",Frodo Baggins and the other members of the Fel...,20.3585,23181,8.411,2002-12-18,2002
786,672,Harry Potter and the Chamber of Secrets,en,"Adventure, Fantasy","Cars fly, trees fight back, and a mysterious h...",19.9457,23054,7.704,2002-11-13,2002
2022,557,Spider-Man,en,"Action, Science Fiction",After being bitten by a genetically altered sp...,16.9946,20106,7.318,2002-05-01,2002
319,640,Catch Me If You Can,en,"Drama, Crime","A true story about Frank Abagnale Jr. who, bef...",17.3796,16575,7.977,2002-12-16,2002
5589,1894,Star Wars: Episode II - Attack of the Clones,en,"Adventure, Action, Science Fiction",Following an assassination attempt on Senator ...,5.6772,13960,6.585,2002-05-15,2002
10,122,The Lord of the Rings: The Return of the King,en,"Adventure, Fantasy, Action",As armies mass for a final battle that will de...,20.8099,25756,8.491,2003-12-17,2003
572,22,Pirates of the Caribbean: The Curse of the Bla...,en,"Adventure, Fantasy, Action",After Port Royal is attacked and pillaged by a...,19.5640,21666,7.817,2003-07-09,2003
573,12,Finding Nemo,en,"Animation, Family","Nemo, an adventurous young clownfish, is unexp...",14.4654,20102,7.817,2003-05-30,2003
328,24,Kill Bill: Vol. 1,en,"Action, Crime","An assassin is shot by her ruthless employer, ...",10.2988,18374,7.969,2003-10-10,2003
3143,604,The Matrix Reloaded,en,"Adventure, Action, Thriller, Science Fiction",The Resistance builds in numbers as humans are...,8.1470,11584,7.067,2003-05-15,2003
270,673,Harry Potter and the Prisoner of Azkaban,en,"Adventure, Fantasy",Year three at Hogwarts means new fun and chall...,20.9087,22628,8.010,2004-05-31,2004
756,9806,The Incredibles,en,"Action, Adventure, Animation, Family",Bob Parr has given up his superhero days to lo...,12.3005,18472,7.720,2004-11-05,2004
2124,558,Spider-Man 2,en,"Action, Adventure, Science Fiction",Peter Parker is going through a major identity...,5.8017,15901,7.297,2004-06-25,2004
194,38,Eternal Sunshine of the Spotless Mind,en,"Science Fiction, Drama, Romance","Joel Barish, heartbroken that his girlfriend u...",11.4365,15869,8.092,2004-03-19,2004
474,393,Kill Bill: Vol. 2,en,"Action, Crime, Thriller",The Bride unwaveringly continues on her roarin...,7.6588,14633,7.874,2004-04-16,2004
758,272,Batman Begins,en,"Drama, Crime, Action","Driven by tragedy, billionaire Bruce Wayne ded...",16.8944,22043,7.719,2005-06-10,2005
610,674,Harry Potter and the Goblet of Fire,en,"Adventure, Fantasy",When Harry Potter's name emerges from the Gobl...,23.1662,21664,7.801,2005-11-16,2005
3276,118,Charlie and the Chocolate Factory,en,"Adventure, Comedy, Family, Fantasy",A young boy wins a tour through the most magni...,13.6055,15795,7.040,2005-07-13,2005
1482,1895,Star Wars: Episode III - Revenge of the Sith,en,"Adventure, Action, Science Fiction",The evil Darth Sidious enacts his final plan f...,10.6822,14525,7.455,2005-05-17,2005
3887,953,Madagascar,en,"Family, Animation, Adventure, Comedy",Four animal friends get a taste of the wild li...,15.0527,11393,6.917,2005-05-25,2005
111,1124,The Prestige,en,"Drama, Mystery, Science Fiction",A mysterious story of two magicians whose inte...,11.5029,17033,8.206,2006-10-17,2006
1791,58,Pirates of the Caribbean: Dead Man's Chest,en,"Adventure, Fantasy, Action",Captain Jack Sparrow races to recover the hear...,13.0016,16750,7.374,2006-07-06,2006
142,1422,The Departed,en,"Drama, Thriller, Crime","To take down South Boston's Irish Mafia, the p...",10.1812,15721,8.159,2006-10-04,2006
427,752,V for Vendetta,en,"Action, Thriller, Science Fiction",In a world in which Great Britain has become a...,7.6481,15173,7.898,2006-02-23,2006
3399,920,Cars,en,"Animation, Adventure, Comedy, Family","Lightning McQueen, a hotshot rookie race car d...",10.2997,14734,7.016,2006-06-08,2006
852,675,Harry Potter and the Order of the Phoenix,en,"Adventure, Fantasy","Returning for his fifth year at Hogwarts, Harr...",21.3587,20354,7.674,2007-07-08,2007
537,2062,Ratatouille,en,"Animation, Comedy, Family, Fantasy","Remy, a resident of Paris, has quite a sophist...",15.0232,17992,7.835,2007-06-28,2007
2511,6479,I Am Legend,en,"Drama, Science Fiction, Thriller",Robert Neville is a scientist who was unable t...,9.8337,16429,7.210,2007-12-12,2007
2264,285,Pirates of the Caribbean: At World's End,en,"Adventure, Fantasy, Action",Will Turner and Elizabeth Swann join forces wi...,12.6855,15080,7.266,2007-05-19,2007
6301,559,Spider-Man 3,en,"Action, Adventure, Science Fiction",The seemingly invincible Spider-Man goes up ag...,12.5144,14822,6.448,2007-05-01,2007
6,155,The Dark Knight,en,"Drama, Action, Crime, Thriller",Batman raises the stakes in his war on crime. ...,28.8391,34849,8.524,2008-07-16,2008
899,1726,Iron Man,en,"Action, Science Fiction, Adventure","After being held captive in an Afghan cave, bi...",23.7572,27543,7.654,2008-04-30,2008
181,10681,WALL¬∑E,en,"Animation, Family, Science Fiction",What if mankind had to leave Earth and somebod...,18.0618,19726,8.104,2008-06-22,2008
7109,8966,Twilight,en,"Fantasy, Drama, Romance",When Bella Swan moves to a small town in the P...,15.6237,14116,6.284,2008-11-20,2008
1046,4922,The Curious Case of Benjamin Button,en,"Drama, Fantasy, Romance","Born under unusual circumstances, Benjamin But...",6.8017,13391,7.595,2008-12-25,2008
1038,19995,Avatar,en,"Action, Adventure, Fantasy, Science Fiction","In the 22nd century, a paraplegic Marine is di...",114.6669,32998,7.600,2009-12-16,2009
107,16869,Inglourious Basterds,en,"Drama, Thriller, War","In Nazi-occupied France during World War II, a...",13.9884,23500,8.215,2009-08-02,2009
335,14160,Up,en,"Animation, Comedy, Family, Adventure",Carl Fredricksen spent his entire life dreamin...,16.6651,21152,7.961,2009-05-28,2009
834,767,Harry Potter and the Half-Blood Prince,en,"Adventure, Fantasy",As Lord Voldemort tightens his grip on both th...,19.2993,20320,7.682,2009-07-15,2009
1987,18785,The Hangover,en,Comedy,When three friends finally come to after a rau...,13.4873,17662,7.327,2009-06-02,2009
41,27205,Inception,en,"Action, Science Fiction, Adventure","Cobb, a skilled thief who commits corporate es...",36.2862,38375,8.371,2010-07-15,2010
118,11324,Shutter Island,en,"Drama, Thriller, Mystery",World War II soldier-turned-U.S. Marshal Teddy...,19.5321,25155,8.202,2010-02-14,2010
4220,10138,Iron Man 2,en,"Adventure, Action, Science Fiction",With the world now aware of his dual life as t...,18.7220,21895,6.848,2010-04-28,2010
721,12444,Harry Potter and the Deathly Hallows: Part 1,en,"Adventure, Fantasy","Harry, Ron and Hermione walk away from their l...",18.2722,19924,7.738,2010-11-17,2010
2304,20352,Despicable Me,en,"Family, Comedy, Animation, Science Fiction",Villainous Gru lives up to his reputation as a...,11.5711,15715,7.300,2010-07-08,2010