# Create a dataset

In [1]:
import pandas as pd

customers = pd.DataFrame({
    'customer_id': [1, 2, 3, 4],
    'name': ['Rahim', 'Karim', 'Sajib', 'Nabila'],
    'country': ['BD', 'BD', 'IN', 'BD']
})

orders = pd.DataFrame({
    'order_id': [101, 102, 103, 104, 105],
    'customer_id': [1, 2, 1, 3, 5],
    'order_date': ['2023-12-15', '2024-01-10', '2024-02-05', '2024-02-20', '2024-03-01'],
    'amount': [500, 300, 700, 400, 600]
})

# PART 1 ‚Äî merge()

In [5]:
# 1Ô∏è‚É£ Merge Customers and Orders :
# Merge the customers and orders datasets using customer_id as the common key.
# Perform the default (inner) join and display the result.
    
default_join = pd.merge(customers, orders, on = 'customer_id')
default_join

   customer_id   name country  order_id  order_date  amount
0            1  Rahim      BD       101  2023-12-15     500
1            1  Rahim      BD       103  2024-02-05     700
2            2  Karim      BD       102  2024-01-10     300
3            3  Sajib      IN       104  2024-02-20     400

In [2]:
# 2Ô∏è‚É£ Find customers who have no orders :
# Identify the customers who have not placed any orders.

find_customers = pd.merge(customers, orders, on ='customer_id', how = 'left')
no_order_customer = find_customers[find_customers['order_id'].isna()]
no_order_customer

   customer_id    name country  order_id order_date  amount
4            4  Nabila      BD       NaN        NaN     NaN

In [3]:
# 3Ô∏è‚É£ Find orders that do not have customer information :
# Identify the orders that do not have matching customer information.

info = pd.merge(customers, orders, on = 'customer_id', how = 'right')
no_info = info[info['name'].isna()]
no_info

   customer_id name country  order_id  order_date  amount
4            5  NaN     NaN       105  2024-03-01     600

In [4]:
# 4Ô∏è‚É£ Compare the number of rows in left, right, and inner joins :
# Compare the total number of rows returned by inner, left, and right joins.

inner = pd.merge(customers, orders, on = 'customer_id', how = 'inner' )
left = pd.merge(customers, orders, on = 'customer_id', how = 'left' )
right = pd.merge(customers, orders, on = 'customer_id', how = 'right' )

print('Total inner row:',inner.shape[0])
print('Total left row:',left.shape[0])
print('Total right row:',right.shape[0])

Total inner row: 4
Total left row: 5
Total right row: 5

# ‚ûï PART 2 ‚Äî concat() 
# Monthly sales data

In [10]:
jan = pd.DataFrame({'month': ['Jan'], 'sales': [2000]})
feb = pd.DataFrame({'month': ['Feb'], 'sales': [2500]})
mar = pd.DataFrame({'month': ['Mar'], 'sales': [1800]})
april = pd.DataFrame({'month': ['april'], 'sales': [1500]})
may = pd.DataFrame({'month': ['May'], 'sales': [3000]})

In [11]:
# 5Ô∏è‚É£ Combine three months of data into a single DataFrame :
# Merge or concatenate the datasets for three different months into a single DataFrame.

sales_monthly = pd.concat([jan, feb, mar, april, may])
sales_monthly

   month  sales
0    Jan   2000
0    Feb   2500
0    Mar   1800
0  april   1500
0    May   3000

In [12]:
# 6Ô∏è‚É£ Display the output with ignore_index=False :
# Concatenate the three datasets while keeping the original row indices
# (ignore_index=False) and display the result.

sales_monthly_2 = pd.concat([jan, feb, mar, april, may], ignore_index = False)
sales_monthly_2

   month  sales
0    Jan   2000
0    Feb   2500
0    Mar   1800
0  april   1500
0    May   3000

In [13]:
# 7Ô∏è‚É£ Display the output with ignore_index=True and observe the difference :
# Concatenate the three datasets while resetting the row indices
# (ignore_index=True) and observe how the row indices change compared to ignore_index=False.

sales_monthly_3 = pd.concat([jan, feb, mar, april, may], ignore_index = True)
sales_monthly_3

   month  sales
0    Jan   2000
1    Feb   2500
2    Mar   1800
3  april   1500
4    May   3000

# üî• REAL DATA SCIENCE MINI CASE

In [26]:
# Ô∏è7Ô∏è‚É£ Calculate total sales per country :
# Calculate the total sales amount for each country from the joined dataset.

join = pd.merge( customers,orders, on = 'customer_id', how = 'inner')

total_sales_per_country = (
    join
        .groupby('country')['amount']
        .sum()
        .reset_index(name='total_sales')
)
total_sales_per_country

  country  total_sales
0      BD         1500
1      IN          400

In [28]:
# 8Ô∏è‚É£ Calculate total sales per year :
# Calculate the total sales amount for each year from the joined dataset.

orders['order_date'] = pd.to_datetime( orders['order_date'] )
orders['Year'] = orders['order_date'].dt.year

total_sales_per_year = (
    join
        .groupby('Year')['amount']
        .sum()
        .reset_index(name='total_sales')
)
total_sales_per_year

   Year  total_sales
0  2023          500
1  2024         1400

In [29]:
# 9Ô∏è‚É£ Calculate total sales per country per year :
# Calculate the total sales amount for each country for each year.

total_sales_country_year = (
    join
        .groupby(['country', 'Year'])['amount']
        .sum()
        .reset_index(name='total_sales')
)
total_sales_country_year

  country  Year  total_sales
0      BD  2023          500
1      BD  2024         1000
2      IN  2024          400

In [19]:
# üîü Display the top 2 customers by amount :
# Find the top 2 customers who spent the highest amount.

top_2_customers = (
    join[['name', 'amount']]
       .sort_values(by='amount', ascending=False)
       .head(2)
       .reset_index(drop=True)
)
top_2_customers

    name  amount
0  Rahim     700
1  Rahim     500